WebContent/wsdl/PortalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.exinterface.ebusiness.do1.com.cn" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax226="http://request.vo.exinterface.ebusiness.do1.com.cn/xsd" xmlns:ax229="http://vo.exinterface.ebusiness.do1.com.cn/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax228="http://response.vo.exinterface.ebusiness.do1.com.cn/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.exinterface.ebusiness.do1.com.cn">
    <wsdl:documentation>
		 如加电视商城门户管理接口服务
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.exinterface.ebusiness.do1.com.cn/xsd">
            <xs:complexType name="MdInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="brandCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="brandName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessFlag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="consultPrice" type="xs:double"/>
                    <xs:element minOccurs="0" name="deliveryType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="discount" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="memberGroup" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchandiseCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchandiseName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchandisePic" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="payType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" type="xs:double"/>
                    <xs:element minOccurs="0" name="sortId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sortName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalSaled" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContentInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="area" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="contentType" type="xs:int"/>
                    <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="publishTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="site" type="xs:int"/>
                    <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="xs:int"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AdvertInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ADesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="advertId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="link" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mediaLink" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pic" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax231="http://response.vo.exinterface.ebusiness.do1.com.cn/xsd" xmlns:ax227="http://request.vo.exinterface.ebusiness.do1.com.cn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.exinterface.ebusiness.do1.com.cn">
            <xs:import namespace="http://request.vo.exinterface.ebusiness.do1.com.cn/xsd"/>
            <xs:import namespace="http://response.vo.exinterface.ebusiness.do1.com.cn/xsd"/>
            <xs:element name="recommendMerchandise">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestVO" nillable="true" type="ax226:RecommendMerchandiseRequestVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recommendMerchandiseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax231:RecommendMerchandiseResponseVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestVO" nillable="true" type="ax226:QueryContentRequestVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax231:QueryContentResponseVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAD">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestVO" nillable="true" type="ax226:QueryADRequestVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryADResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax231:QueryADResponseVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="detailContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestVO" nillable="true" type="ax226:DetailContentRequestVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="detailContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax231:DetailContentResponseVO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax230="http://vo.exinterface.ebusiness.do1.com.cn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.vo.exinterface.ebusiness.do1.com.cn/xsd">
            <xs:import namespace="http://vo.exinterface.ebusiness.do1.com.cn/xsd"/>
            <xs:complexType name="BaseResponseVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="interfaceId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="msgId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="respCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="respDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="spId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RecommendMerchandiseResponseVO">
                <xs:complexContent>
                    <xs:extension base="ax228:BaseResponseVO">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="mdList" nillable="true" type="ax230:MdInfo"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="QueryContentResponseVO">
                <xs:complexContent>
                    <xs:extension base="ax228:BaseResponseVO">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="contentList" nillable="true" type="ax230:ContentInfo"/>
                            <xs:element minOccurs="0" name="currentSize" type="xs:int"/>
                            <xs:element minOccurs="0" name="totalSize" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="QueryADResponseVO">
                <xs:complexContent>
                    <xs:extension base="ax228:BaseResponseVO">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="advertList" nillable="true" type="ax230:AdvertInfo"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="DetailContentResponseVO">
                <xs:complexContent>
                    <xs:extension base="ax228:BaseResponseVO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="area" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="contentType" type="xs:int"/>
                            <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="publishTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="site" type="xs:int"/>
                            <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="status" type="xs:int"/>
                            <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="version" nillable="true" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://request.vo.exinterface.ebusiness.do1.com.cn/xsd">
            <xs:complexType name="BaseRequestVO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="interfaceId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="msgId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="spId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="spPin" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RecommendMerchandiseRequestVO">
                <xs:complexContent>
                    <xs:extension base="ax226:BaseRequestVO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="cusId" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="QueryContentRequestVO">
                <xs:complexContent>
                    <xs:extension base="ax226:BaseRequestVO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="area" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="contentType" type="xs:int"/>
                            <xs:element minOccurs="0" name="currentPage" type="xs:int"/>
                            <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
                            <xs:element minOccurs="0" name="site" nillable="true" type="xs:int"/>
                            <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="status" nillable="true" type="xs:int"/>
                            <xs:element minOccurs="0" name="titleKeyword" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="QueryADRequestVO">
                <xs:complexContent>
                    <xs:extension base="ax226:BaseRequestVO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="cusId" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="DetailContentRequestVO">
                <xs:complexContent>
                    <xs:extension base="ax226:BaseRequestVO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="contentType" type="xs:int"/>
                            <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="site" type="xs:int"/>
                            <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="queryADRequest">
        <wsdl:part name="parameters" element="ns:queryAD"/>
    </wsdl:message>
    <wsdl:message name="queryADResponse">
        <wsdl:part name="parameters" element="ns:queryADResponse"/>
    </wsdl:message>
    <wsdl:message name="queryContentRequest">
        <wsdl:part name="parameters" element="ns:queryContent"/>
    </wsdl:message>
    <wsdl:message name="queryContentResponse">
        <wsdl:part name="parameters" element="ns:queryContentResponse"/>
    </wsdl:message>
    <wsdl:message name="recommendMerchandiseRequest">
        <wsdl:part name="parameters" element="ns:recommendMerchandise"/>
    </wsdl:message>
    <wsdl:message name="recommendMerchandiseResponse">
        <wsdl:part name="parameters" element="ns:recommendMerchandiseResponse"/>
    </wsdl:message>
    <wsdl:message name="detailContentRequest">
        <wsdl:part name="parameters" element="ns:detailContent"/>
    </wsdl:message>
    <wsdl:message name="detailContentResponse">
        <wsdl:part name="parameters" element="ns:detailContentResponse"/>
    </wsdl:message>
    <wsdl:portType name="PortalServicePortType">
        <wsdl:operation name="queryAD">
            <wsdl:input message="ns:queryADRequest" wsaw:Action="urn:queryAD"/>
            <wsdl:output message="ns:queryADResponse" wsaw:Action="urn:queryADResponse"/>
        </wsdl:operation>
        <wsdl:operation name="queryContent">
            <wsdl:input message="ns:queryContentRequest" wsaw:Action="urn:queryContent"/>
            <wsdl:output message="ns:queryContentResponse" wsaw:Action="urn:queryContentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="recommendMerchandise">
            <wsdl:input message="ns:recommendMerchandiseRequest" wsaw:Action="urn:recommendMerchandise"/>
            <wsdl:output message="ns:recommendMerchandiseResponse" wsaw:Action="urn:recommendMerchandiseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="detailContent">
            <wsdl:input message="ns:detailContentRequest" wsaw:Action="urn:detailContent"/>
            <wsdl:output message="ns:detailContentResponse" wsaw:Action="urn:detailContentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortalServiceSoap11Binding" type="ns:PortalServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="queryAD">
            <soap:operation soapAction="urn:queryAD" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryContent">
            <soap:operation soapAction="urn:queryContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recommendMerchandise">
            <soap:operation soapAction="urn:recommendMerchandise" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="detailContent">
            <soap:operation soapAction="urn:detailContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortalServiceSoap12Binding" type="ns:PortalServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="queryAD">
            <soap12:operation soapAction="urn:queryAD" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryContent">
            <soap12:operation soapAction="urn:queryContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recommendMerchandise">
            <soap12:operation soapAction="urn:recommendMerchandise" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="detailContent">
            <soap12:operation soapAction="urn:detailContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortalServiceHttpBinding" type="ns:PortalServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="queryAD">
            <http:operation location="PortalService/queryAD"/>
            <wsdl:input>
                <mime:content type="text/xml" part="queryAD"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="queryAD"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryContent">
            <http:operation location="PortalService/queryContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="queryContent"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="queryContent"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recommendMerchandise">
            <http:operation location="PortalService/recommendMerchandise"/>
            <wsdl:input>
                <mime:content type="text/xml" part="recommendMerchandise"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="recommendMerchandise"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="detailContent">
            <http:operation location="PortalService/detailContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="detailContent"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="detailContent"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PortalService">
        <wsdl:port name="PortalServiceHttpSoap11Endpoint" binding="ns:PortalServiceSoap11Binding">
            <soap:address location="http://123.196.117.57:8080/tvshop/services/PortalService.PortalServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PortalServiceHttpSoap12Endpoint" binding="ns:PortalServiceSoap12Binding">
            <soap12:address location="http://123.196.117.57:8080/tvshop/services/PortalService.PortalServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PortalServiceHttpEndpoint" binding="ns:PortalServiceHttpBinding">
            <http:address location="http://123.196.117.57:8080/tvshop/services/PortalService.PortalServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
